{% extends 'layout.html' %}
{% block body%}


<body>
    <br>
    <br>
    <div class="container">

        <h2>We are CI OPS Team, handling more than 20 Applications under Customer Information(RDC) - IBM</h2>
        <br>
        <h3>RDC is the single worldwide Trusted Source for Customer Data in IBM.</h3>
        <br>
        <hr>
        <br>
        <p><img src="/static/img/Aboutus.png" alt="image loading issue" style="height: 237px"></p>
        <br>
        <hr>
        <br>
        <h2>RDC Components and Data Flow</h2>
        <p><img src="/static/img/Aboutus2.png" alt="image loading issue" style="height: 572px"></p>
    </div>
</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}