{% extends 'layout.html' %}
{% block body%}


<!--<style>-->

<!--</style>-->


<body>
<div class="container">
        <br>
        <br>

        <h2>You may contact us through writing us to ccm@us.ibm.com.</h2>
        <p>We provide our service 24/7.</p>
    </div>

<br>
<hr>
<br>

<div class="container">
        <br>

       <h2>Situation Manager</h2>
    <br>
       <h3>Please follow up with the mail you get on Friday evening to check who is the SM for that particular weekend.</h3>
    <br>
       <i>List of SM's</i>
    <br>
    <br>
    <ul>
        <li> Mrudul Pande </li>
        <li> Preethi Makireddy </li>
        <li> Shreya Raj </li>
        <li> Pothuru Srikanth </li>
    </ul>
    </div>

</body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
