{% extends 'layout.html' %}
{% block body%}

    <div class="container">
<br>
<br>
        <h2>Follow these steps to check coverage</h2>
<hr>
        <p>• Login to ibmrpcw1</p>
        <p>• sudo su – cturpcw1</p>
        <p>• Check the processors with:</p>
        <p>ps -ef | grep Processor</p>

    </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a class="btn btn-primary float-left" href="{{ url_for('eswtagging') }}">&larr; Previous</a>
<a class="btn btn-primary float-right" href="{{ url_for('elasticsearch') }}">Next &rarr;</a>
<br>
<br>

{% endblock %}