{% extends 'layout.html' %}
{% block body%}





<div class="container">
    <br>
    <br>

    <h3>COVID-19 ANALYZER</h3>
    <br>
    <br>
    <ul class="container">
        <li><a href="/covidda">Countries affected by Coronavirus (COVID-19)</a></li>
        <hr>
        <li><a href="covidt">Spreading of COVID-19 w.r.t time</a></li>
        <hr>
        <li><a href="/covid_pre">Are you Safe? Check yourself here!</a></li>
        <hr>
        <li><a href="/who">Symptoms and Prevention</a></li>
        <hr>


    </ul>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}