{% extends 'layout.html' %}
{% block body%}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Figure</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="chart" id="mapgraph1">
            </div>
        </div>
    </div>
</div>
<div class="chart" id="mapgraph">
    <script>
        var graphs = {{plot | safe}};
        Plotly.plot('mapgraph',graphs,{});
    </script>
</div>


<h2 class="btn btn-warning"><a href="{{url_for('covid19') }}">Go back</a></h2>

<h2 class="btn btn-warning"><a href="{{url_for('covidt') }}">Click here for real time display</a></h2>

<h2 class="btn btn-warning"><a href="{{url_for('covid_pre') }}">Are you Safe? Check yourself here!</a></h2>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

