{% extends 'layout.html' %}
{% block body%}

<br>
<br>

<div class="container">
<li> <a href="{{ url_for('covidda') }}"> Click to see how many countries are affected with covid-19 </a> </li>
</div>
<br>
<hr>
<br>


<div class="container">
<li> <a href="{{ url_for{'covidda1') }}"> Click to see how many countries are affected with covid-19 with respect to time </a> </li>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>








{% endblock %}

