{% extends 'layout.html' %}
{% block body%}

<div class="container">
    <br>
    <br>
        <h3>Every Sunday FDB Jobs are running under Jobstream PCIFDBXXXX000016 on 1:30PM IST(8:00AM GMT)</h3>
    <hr>
    <br>
        <p><img src="/static/img/fdb1.png" alt="image loading issue" style="height: 343px"></p>
    <br>
    <br>
        <p>For more info you can find the document on the box :---</p>
        <p><a href="https://ibm.ent.box.com/folder/30439737030" target="_blank">https://ibm.ent.box.com/folder/30439737030</a></p>

    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a class="btn btn-primary float-left" href="{{ url_for('dprop') }}">&larr; Previous</a>
<a class="btn btn-primary float-right" href="{{ url_for('lh') }}">Next &rarr;</a>
<br>
<br>
{% endblock %}