{% extends 'layout.html' %}
{% block body%}

<div class="container">
    <br>
    <br>
        <p>Everyday LH job started at 5:00AM GMT.</p>
    <hr>
    <br>
        <p><img src="/static/img/lh1.png" alt="image loading issues" style="height: 243px"></p>
    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a class="btn btn-primary float-left" href="{{ url_for('fdb') }}">&larr; Previous</a>
<a class="btn btn-primary float-right" href="{{ url_for('cl360') }}">Next &rarr;</a>
<br>
<br>
{% endblock %}