<html>
<head>

    <title>Login here!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<style>
    .container1{
    top: 128px;
    position: fixed;
    left: 925px;
    width: 429px;
    height: 208px;
    }
</style>
<body>
      <div class="container1">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="/static/img/Customer-Information.png" alt="image loading issue">
      </div>
    <div class="container">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group" style="width: 500px">
                <legend class="border-bottom mb-4">Log In</legend>

                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                        {{ form.remember(class="form-check-input") }}
                        {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
                <small class="text-muted ml-2">
                        <a href="#">Forgot Password</a>
                </small>
        </form>
    </div>
<br>
<br>
    <div class="container">
        <small class="text-muted">
            Need an Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up now</a>
        </small>
    </div>

</body>
</html>