{% extends 'layout.html' %}
{% block body%}



<div class="container">
    <br>
    <br>

    <h3>RDC DATA ANALYZER</h3>
    <br>
    <ul class="container">
        <li><a href="/rdcda1">Customers created in March</a></li>
        <hr>
        <li><a href="/rdcda2">Customers got Coverage in March</a></li>
        <hr>
        <li><a href="/rdcda3">IDM Customers created in March</a></li>
        <hr>
        <li><a href="/rdcda4">Customers updated in March</a></li>


    </ul>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}

