{% extends 'layout.html' %}
{% block body%}

<style>


    #main {
            color: brown
        }


    #mainimg5 img{
               height: 427px;
               margin: -97px;
               margin-left: 251px;
               margin-top: -416px;
        }

    #mainimg6 img{
                   height: 490px;
                   margin: -97px;
                   margin-left: 600px;
                   margin-top: -404px;
        }

    #mainimg7 img{
                   height: 529px;
                   margin: -97px;
                   margin-left: 846px;
                   margin-top: -415px;
        }
</style>


<body>
    <br>
    <br>

 <div class="container">
     <h2>We provide support to all the Applications which maintains and updates the data, maintaing availbility,
            scalability and compatibility to all our Down Stream Partners</h2>
        <br>
        <hr>
        <br>
        <div id="main">
            <h3>RDC PARTNERS</h3>
        </div>
        <hr>
        <div id="mainimg1">
            <img src="/static/img/Ourservices1.png" alt="image loading issues" style="height: 126px;">
        </div>
        <div id="mainimg2">
            <img src="/static/img/Ourservices2.png" alt="image loading issues" style="height: 99px;">
        </div>
        <div id="mainimg3">
            <img src="/static/img/Ourservices3.png" alt="image loading issues" style="height: 62px;">
        </div>
        <div id="mainimg4">
            <img src="/static/img/Ourservices4.png" alt="image loading issues" style="height: 71px;">
        </div>
        <div id="mainimg5">
            <img src="/static/img/Ourservices5.png" alt="image loading issues">
        </div>
        <div id="mainimg6">
            <img src="/static/img/Ourservices6.png" alt="image loading issues">
        </div>
        <div id="mainimg7">
            <img src="/static/img/Ourservices7.png" alt="image loading issues">
        </div>
    </div>
</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}