{% extends 'layout.html' %}
{% block body%}

<br>
<br>
<br>
<div class="container"> <h3> Your virus Probability is {{inf}}%. </h3>
    <br>
    <br>
    <hr>
    <br>
    <br>
<a href="{{url_for('covid_pre') }}"><button class="btn btn-primary" >Want to check again?</button></a>
    <br>
    <br>
    <br>
<a href="{{url_for('covidda')}}"><button class="btn btn-primary" >Want to check Countries affected</button></a>
    <br>
    <br>
    <br>
<a href="{{url_for('covid19')}}"><button class="btn btn-primary" >back to COVID-19 analyzer</button></a>
    <br>
    <br>
    <br>
    <hr>
    <br>
<a href="{{url_for('who')}}">Symptoms and Prevention</a>
    <br>
</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}