<!-- faux drop-down title -->
<p><span class="element_toggler"
       id="index3"
       aria-controls="index3pt1"
       aria-expanded="false"
       aria-label="Toggler toggle list visibility"
       role="button"
       style="font-size: 1.5em; font-weight:700; color:#0058a0;">
    <i class="icon-arrow-open-right"></i> All Unit 3 Topics (click to expand)</span></p>

<!-- faux drop-down content -->
<div id="index3pt1" style="background-color:#dee8f4; margin-left: 2em; padding: 1em 2em 1em 2em; display: none;">
   <p style="color:black"><a href="#">3.1 Magnitude of Torque</a></p>
   <p style="color:black"><a href="#">3.2 Analysis of Dynamics</a></p>
   <p style="color:black"><a href="#">3.3 Moment of Inertia</a></p>
</div>