{% extends 'layout.html' %}
{% block body%}

<div class="container">
    <br>
    <br>

        <h2>Follow these steps to check TGME Services</h2>
    <hr>
        <p>Access TGME WAS Console with <a href="ccm@us.ibm.com" target="_blank">ccm@us.ibm.com</a> id and the current password</p>
        <p><a href="https://ibmccmpo.portsmouth.uk.ibm.com:9047/ibm/console/logon.jsp" target="_blank">https://ibmccmpo.portsmouth.uk.ibm.com:9047/ibm/console/logon.jsp</a></p>
    <br>
    <br>
    <br>
        <p>Login to above link and check the services which should be like this:</p>
    <br>
        <p><img src="/static/img/tgme1.png" alt="image loading issue"></p>

    </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<a class="btn btn-primary float-left" href="{{ url_for('ierp') }}">&larr; Previous</a>
<a class="btn btn-primary float-right" href="{{ url_for('tgme3') }}">Next &rarr;</a>
<br>
<br>

{% endblock %}